name: Docker Build and Push to ACR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: Azure Container Registry Login
        uses: azure/docker-login@v2
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker image
        run: |
          IMAGE_TAG=latest
          IMAGE_NAME=${{ secrets.ACR_LOGIN_SERVER }}/team2-job-app-frontend:$IMAGE_TAG
          docker build -t $IMAGE_NAME .

      - name: Push Docker image to ACR
        run: |
          IMAGE_TAG=latest
          IMAGE_NAME=${{ secrets.ACR_LOGIN_SERVER }}/team2-job-app-frontend:$IMAGE_TAG
          docker push $IMAGE_NAME

      - name: Verify image in ACR
        run: |
          az acr repository show --name ${{ secrets.ACR_NAME }} --image team2-job-app-frontend:latest
